<% include ./partials/header %>
<link rel="stylesheet" href="stylesheets/landing.css">

<div class="ui raised very padded text container segment">
<h1 class="ui huge header">Results Page!!</h1>
	
<div class="ui teal inverted segment">
	<div class="ui inverted relaxed divided list">
<% data["Search"].forEach(function(movie) { %>
   <div class="item">
	   <div class="content">
		   <h2 class="ui header"><strong><%= movie["Title"] %></strong></h2>
		  <strong>Year: <%= movie["Year"] %></strong>
		   <strong>Type: <%= movie["Type"] %></strong>
		   <strong>Id: <%= movie["imdbID"] %></strong>
		   <img class="ui small image" src="<%= movie["Poster"] %>" alt="">
   </div>
	   </div>
<% }) %>
	</div>	
</div>


</div>
<a href="/" class="ui teal tag label">Search Again!</a>

<script src="scripts/background.js"></script>

<% include ./partials/footer %>